{% load staticfiles %}

<html ng-app="exercise">
  <head>
    <script type="text/javascript" src="{% static "web/packages/jquery-1.8.3.min.js" %}"></script>
    <link href="{% static "web/packages/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static "web/packages/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "web/packages/parse-1.2.8.min.js" %}"></script>
    <script type="text/javascript" src="{% static "web/packages/angular/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "web/packages/angular/angular-ui-router.js" %}"></script>
    <link href="{% static "web/packages/angular/angular.css" %}" rel="stylesheet" />


    <script type="text/javascript" src="{% static "web/js/app.js" %}"></script>
    <script type="text/javascript" src="{% static "web/js/services.js" %}"></script>
    <script type="text/javascript" src="{% static "web/js/controllers.js" %}"></script>
    <script type="text/javascript" src="{% static "web/js/routing.js" %}"></script>
  </head>
  <body ng-controller="app.exercise.controllers.MainCtrl">

<h1>hello</h1>

  </body>
</html>
